@{
    Layout = null;

    //UILAYOUT
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>


    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

    @RenderBody()

    <!-- book section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
    <!-- end book section -->
    <!-- footer section -->
    <!-- footer section -->
</body>

</html>
